@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.App {
  text-align: center;
  background-color: #0F1626;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}
