@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.App {
  text-align: center;
  background-color: #0F1626;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}
