@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: #0F1626;
  height: 100%;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}
