.card {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  width: 18rem;
  border-radius: 20px;
  background-color: rgb(180, 180, 180);
}

.btn {
  border-radius: 100%;
  background-color: #ff533d;
}



.card-title {
  margin-bottom: 15px;
}

.card-title {
  color: black;
}

.card-title:hover {
  color: #ff533d;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
