.ciudad{
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgba(238, 237, 237, 0.568);
    margin: 20px;
    width: 36rem;
    height: 32rem;
    border-radius: 20px;
}

h2 {
    background-color: #ff533d;
    color: rgb(228, 228, 228);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info > div {
    padding: 5px;
}

.volver {
    border: 1px rgb(40, 40, 40) solid;
    border-radius: 10px;
    font-size: small;
    padding: 4px;
}

.volver:hover {
    border-color: #ff533d;
    background-color: rgba(253, 253, 253, 0.322);
}

