.navbar {
  background-color: rgba(238, 237, 237, 0.568);
  text-shadow: 1px 1px 1px rgba(93, 93, 93, 0.65);
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  text-decoration: none;
  color: #ff533d;
}

#logo {
  margin-right: 20px;
}


