input {
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
}

.botonAgregar {
    margin: 5px 0 5px 10px;
    background-color: #ff533d;
    color: rgb(228, 228, 228);
}

.inputCity {
    width: 280px;
    padding-left: 15px;
    margin: 5px 0;
}
